<div class="container">
    <div class="d-flex align-items-center mt-3 mb-3 header">
      <div class="r-circle rounded-circle"></div>
      <h3 class="ml-3 mt-2 font-weight-bold">ProductWebsite</h3>
    </div>
</div>

<div class="container-fluid full-width-image">
  <div class="container position-relative">
    <div class="d-flex justify-content-between">
      <div class="p-title text-light">
        <h1 class="mb-4">Ready to go?<br>
          Our cruise ship is waiting for you!</h1>
        <button class="btn btn-sup text-light font-weight-bold">SIGN UP</button>
      </div>
      <div class="p-discount">
        <img class='img-d' src="../../assets/img/discount.png" alt="price discount">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-around align-items-center flexible-container mt-3">
      <span>
        <img src="../../assets/img/signup.png" alt="sign-up">
        <a href="#" class="font-weight-bold text-dark btn">01. SIGN UP</a>
      </span>
      <span>
        <img src="../../assets/img/ship.png" alt="shipping">
        <a href="#" class="font-weight-bold text-dark btn">02. SAIL WITH US</a>
      </span>
  </div>
</div>
